In [1]:
import numpy as np 
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [8]:
df = pd.concat([flats, houses], ignore_index=True)

In [12]:
df = df.sample(df.shape[0],ignore_index=True)

In [13]:
df.to_csv('gurgaon_properties.csv',index=False)

In [15]:
df = pd.read_csv('gurgaon_properties.csv')
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 95 Gurgaon,flat,ramprasta awho,0.92,5257.0,1750.0,Built Up area: 1750 (162.58 sq.m.)Carpet area:...,3,3,3+,not available,"Sector 95 Gurgaon, Gurgaon, Haryana",13.0,North-East,undefined,NaN,"3 bath, unfurnished, 13th floor (Of 26), overl...",NaN,NaN,"['Safety4.5 out of 5', 'Lifestyle4.5 out of 5'..."
1,3 BHK Flat in Sector 81 Gurgaon,flat,bestech park view grand spa,2.20,8270.0,2660.0,Super Built up area 2660(247.12 sq.m.)Carpet a...,3,4,3+,servant room,"Sector-81, Sector 81 Gurgaon, Gurgaon, Haryana",8.0,East,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Bestech park view grand spa is one of the most...,"['4 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction5 out of..."
2,5 Bedroom House for sale in Sector 86 Gurgaon,house,ss omnia,0.42,84000.0,50.0,Plot area 50(4.65 sq.m.),5,3,2,not available,"Sector 86 Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Orris Community Center', 'Essar Petrol Pump'...",Looking for buyer to purchase our house/villa ...,[],NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,5 Bedroom House for sale in C Block Sushant Lo...,house,independent,6.50,35400.0,1836.0,Plot area 215(179.77 sq.m.)Built Up area: 215 ...,5,4,3+,"pooja room,servant room","C Block Sushant Lok Phase 1, Gurgaon, Haryana",3.0,South-East,5 to 10 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",Newy rennovated with italian flooring and teak...,"['10 Fan', '5 Geyser', '26 Light', '5 AC', '1 ...","['High Ceiling Height', 'False Ceiling Lightin...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,5 BHK Flat in Sector 14 Gurgaon,flat,vasant appartments,1.70,7391.0,2300.0,Carpet area: 2300 (213.68 sq.m.),5,5,2,"pooja room,study room,store room","336 Old Delhi Road, Opp Sector-14, Sector 14 G...",2.0,North-West,10+ Year Old,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Hsb...","Prime location on old delhi-Gurgaon road, bigg...","['1 Water Purifier', '10 Fan', '1 Exhaust Fan'...","['Security / Fire Alarm', 'Intercom Facility',...","['Connectivity5 out of 5', 'Lifestyle5 out of ..."

In [16]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [18]:
df.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 95 Gurgaon,flat,ramprasta awho,0.92,5257.0,1750.0,Built Up area: 1750 (162.58 sq.m.)Carpet area:...,3,3,3+,not available,"Sector 95 Gurgaon, Gurgaon, Haryana",13.0,North-East,undefined,NaN,"3 bath, unfurnished, 13th floor (Of 26), overl...",NaN,NaN,"['Safety4.5 out of 5', 'Lifestyle4.5 out of 5'..."
1,3 BHK Flat in Sector 81 Gurgaon,flat,bestech park view grand spa,2.20,8270.0,2660.0,Super Built up area 2660(247.12 sq.m.)Carpet a...,3,4,3+,servant room,"Sector-81, Sector 81 Gurgaon, Gurgaon, Haryana",8.0,East,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Bestech park view grand spa is one of the most...,"['4 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction5 out of..."
2,5 Bedroom House for sale in Sector 86 Gurgaon,house,ss omnia,0.42,84000.0,50.0,Plot area 50(4.65 sq.m.),5,3,2,not available,"Sector 86 Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Orris Community Center', 'Essar Petrol Pump'...",Looking for buyer to purchase our house/villa ...,[],NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,5 Bedroom House for sale in C Block Sushant Lo...,house,independent,6.50,35400.0,1836.0,Plot area 215(179.77 sq.m.)Built Up area: 215 ...,5,4,3+,"pooja room,servant room","C Block Sushant Lok Phase 1, Gurgaon, Haryana",3.0,South-East,5 to 10 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",Newy rennovated with italian flooring and teak...,"['10 Fan', '5 Geyser', '26 Light', '5 AC', '1 ...","['High Ceiling Height', 'False Ceiling Lightin...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,5 BHK Flat in Sector 14 Gurgaon,flat,vasant appartments,1.70,7391.0,2300.0,Carpet area: 2300 (213.68 sq.m.),5,5,2,"pooja room,study room,store room","336 Old Delhi Road, Opp Sector-14, Sector 14 G...",2.0,North-West,10+ Year Old,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Hsb...","Prime location on old delhi-Gurgaon road, bigg...","['1 Water Purifier', '10 Fan', '1 Exhaust Fan'...","['Security / Fire Alarm', 'Intercom Facility',...","['Connectivity5 out of 5', 'Lifestyle5 out of ..."

In [19]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [20]:
df['sector'] = df['sector'].str.lower()